<h3>Post Form</h3>

<%= form_for(@post) do |f| %>
  <label>Title:</label><br>
  <%= f.text_field :title %><br>

  <label>Description:</label><br>
  <%= f.text_field :description %><br>

  <%= f.submit %>
<% end %>
